<!DOCTYPE html>
<html>
  <head>
    <title>New Message</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/new">New Message</a>
      </nav>

      <form method="POST" action="/new">
        <input type="text" name="username" placeholder="Your username">
        <textarea name="message" cols="30" rows="10" placeholder="Your message"></textarea>
        <button type="submit">Submit!</button>
      </form>

      <footer>
        <p>Made by Chernysh Artem</p>
        <a href="https://github.com/TemaTech" target="_blank">GitHub Profile</a>
      </footer>
    </div>
  </body>
</html>
